.boxicone {
    display: flex;
    width: 50%;
    flex-direction: row;
    padding-inline: 20px;

    /* background-color: red; */
    & img {
        width: 15px;
        margin-right: 10px;

    }
}