.MainCointainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container {
    width: 50%;
}

.one {
     display: flex;
     justify-content: end;

}

.two {
    border-left: 0.5px solid rgb(70, 70, 70);
    border-right: 0.5px solid rgb(70, 70, 70);
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    width: 600px;
    height: auto;
  
}

.three {
    position: relative;
    width: auto;
}


@media (max-width:768px){
    .three{
        display: none;
    }
    .two {
        width: 80%;
    }
    .one {
        width: auto;
    }
}

@media (max-width:470px){
    .one {
        display: none;
    }
    .two {
        width: 100%;
        border: none;
    }
}