.MainCointainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container {
    width: 50%;
}

.one {
     display: flex;
     justify-content: end;

}

.two {
    background-color: red;
    width: 500px;
    height: 5000vh;
    overflow-y: auto;
}

.three {
    background-color: green;
    position: relative;
}


@media (max-width:768px){
    .three{
        display: none;
    }
    .two {
        width: 80%;
    }
    .one {
        width: 20%;
    }
}

@media (max-width:470px){
    .one {
        display: none;
    }
    .two {
        width: 100%;
    }
}