
/* style Global de la nav */
nav {
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: column;
    height: auto;
    position: fixed;
    width: 15%;
    flex-shrink: 0;
    overflow: hidden;
    align-items: center;
}

/* Style du logo  */

.containerHeader_img{
    width: 25px;
    padding-top: 10px;
   
}
.containerHeader_img:hover{
    background-color: rgba(41, 41, 41, 0.445);
    border-radius: 50%;
    width: 26px;
    padding: 3px;
}
.linkHeader{
    text-decoration: none;
}

/* Style pour les Links */
.navLinks__link{
    text-decoration: none;
}

