
/* style Global de la nav */
nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 15%;
    flex-shrink: 0;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

/* Style du logo  */

.containerHeader_img{
    width: 25px;
    padding-top: 10px;
   
}
.containerHeader_img:hover{
    background-color: rgba(41, 41, 41, 0.445);
    border-radius: 50%;
    width: 26px;
    padding: 3px;
}
.linkHeader{
    text-decoration: none;
}

/* Style pour les Links */
.navLinks__link{
    text-decoration: none;
    font-size:16px;
}

/*button*/
.buttonPost {
    margin-top: 10px;
    background-color:  #1D9BF0;
    color: white;
    border: none;
    width: 100%;
    padding-block: 10px;
    padding-inline: 15px;
    border-radius: 35px;
    font-weight: bold;
    cursor: pointer;
   
    & img {
       display: none;
    }
   
   }
   
   .buttonPost:hover {
       background-color:  #1772af;
   }


   /*style box userprofile*/
   .containerbotav{



   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
    background-color: red;
    width: 100%;
   }
   
   .botleft{
        & img {
            width: 40px;
            height: 40px;
            border-radius: 50%;

        }
   }
   @media (max-width:900px){
       .buttonPost{
           padding: 10px;
           & img {
               display: block;
           }
           & p {
               display: none;
           }
       }
   }
   
   

