.boxR {
    border-radius: 15px;
    width: 300px;
    border: solid rgba(192, 192, 192, 0.562) 1px;
    padding-block: 10px;

    margin-left: 40px;

    & h2 {
        font-family: Karla;
        font-weight: bolder;
        font-size: 25px;
        letter-spacing: -0.5px;
        padding-inline: 15px;
        padding-block: 5px;

    }

    & p {
        font-family: Karla;
        padding-block: 10px;
        padding-inline: 15px;
    }

    & button {
        border: none;
        padding-inline: 15px;
        padding-block: 10px;
        border-radius: 30px;
        font-family: Karla;
        font-weight: bold;
        color: white;
        background-color: #1D9BF0;
        transition: ease-in 0.2s;
        cursor: pointer;
        margin-left: 15px;
    }
}

.boxR button:hover {
    background-color: #1879b9;
}

.first {
    margin-top: 90px;
}

.wrappedHappBox {
    padding-inline: 15px;
}

.wrappedHappBox:hover {
    background-color: rgba(73, 73, 73, 0.582);
    width: 100%;
}


/*TrandingBox*/
.trendingBox {
    display: flex;
    padding-block: 10px;
    flex-direction: row;
    flex-wrap: nowrap;


    & p {
        padding-block: 4px;
        color: rgb(138, 137, 137);
    }

    & h3 {
        font-family: Karla;
        padding-inline: 15px;
    }
}

.trendingBox:hover {
    background-color: rgba(73, 73, 73, 0.384);
}

.trendingLeftBox {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.trendingBoxRigth {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: start;
    padding-block: 10px;
    padding-inline: 10px;
}

.showMore {
    padding-block: 10px;
    color: #1D9BF0;
    width: 100%;
}

.showMore:hover {
    background-color: rgba(73, 73, 73, 0.384);
}


/*Style Box3*/

.bottomBox {
    margin-top: 20px;
}

.BoxProfilFollow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    & p {
        padding-block: 2px;
        color: rgb(138, 137, 137);
    }

    & h3 {
        font-family: Karla;
        padding-inline: 15px;
        display: flex;
        align-items: center;

         & span {
            padding-right: 5px;
         }

        & img {
            width: 20px;
        }
    }

}
.ProfilPicture {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
}

.BoxPfLeft {
    padding-inline: 15px;
    display: flex;
    align-items: center;
}

.BoxProfilRigth {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-right: 10px;
}


#blb{
    width: 80px;
    background-color: whitesmoke;
    color: #1c1c1c;
    
}
#blb:hover{
    background-color: rgb(214, 213, 213); 
}
.BoxProfilFollow{
    padding-block: 15px;
    display: flex;
    flex-direction: row;
}
.BoxProfilFollow:hover{
    background-color: rgba(73, 73, 73, 0.384);
}
.underBoxLinks {
    width: 300px;
    padding-top: 10px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    & a {
        text-decoration: none;
        font-family: Karla;
        padding-inline: 10px;
        padding-block: 2px;
        font-size: 16px;
        color: rgb(138, 137, 137);
    }
}

.underBoxLinks a:hover {
    text-decoration: underline;
    
}