/* MainContainer */
.MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll; 
    -ms-overflow-style: none;  
    scrollbar-width: none; 
 
}


.postMain {
    width: 100%;
    height: auto;
    overflow-y: scroll; 
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.postMain::-webkit-scrollbar {
    display: none; 
}

ul {
    overflow-y: scroll; 
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
