.wrapHap {
    padding-block: 10px;
    display: flex;
    flex-direction: row;
    font-family: karla;
    width: 100%;

    align-items: center;

    & img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 10px;
    }
}


.WrapHaptext{
    padding-inline: 10px;

    & p {
        color: rgb(138, 137, 137);
    }
}

